.b{
    background-color: blue;
    color: yellow;
    padding: 15px 30px;
    text-align: center;
    font-size: 25px;
}
table border{
    cellspacing="5px"
    cellpadding="5px"
}
.t{
    font-size: 30px;
}
.h{
    background-color:green;
    color: white;
}
